POSTGRES_USER=gateway_user
POSTGRES_PASSWORD=12345678
POSTGRES_NAME=gateway_db
POSTGRES_HOST=db_gateway
POSTGRES_PORT=5432

REDIS_HOST=redis_gateway
REDIS_PORT=6379

EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USERNAME=n17k17@yandex.ru
EMAIL_PASSWORD=SupirPsw
EMAIL_USE_SSL=True

RABBITMQ_URL=amqp://guest:guest@rabbitmq_gateway:5672

FRONTEND_URL=http://localhost:5173

APP_MODE=debug
APP_PORT=8002
APP_HOST=0.0.0.0
APP_NAME=gateway